fastapi~=0.105.0
pydantic~=2.5.2
python-jose~=3.3.0
mongoengine~=0.27.0
Pillow~=10.1.0
passlib~=1.7.4
python-dotenv~=1.0.0
phonenumbers~=8.13.26
telesign~=2.2.2
bcrypt~=4.0.1
apscheduler~=3.10.4
pymongo~=4.6.1
python-multipart~=0.0.6
pytz~=2023.3
vincenty~=0.1.4
sse-starlette~=1.8.2
boto3~=1.29.6
starlette-admin~=0.12.2
itsdangerous~=2.1.2

