fastapi~=0.103.0
pydantic~=2.3.0
python-jose~=3.3.0
mongoengine~=0.27.0
Pillow~=10.0.0
passlib~=1.7.4
python-dotenv~=1.0.0
phonenumbers~=8.13.19
telesign~=2.2.2
bcrypt~=4.0.1
apscheduler~=3.10.4
pymongo~=4.5.0
python-multipart~=0.0.6
pytz~=2023.3

